* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.mandalorian {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border: solid white;
  border-radius: 10px;
}
body {
  background-color: rgb(18, 19, 30);
}
.marvel {
  background-color: rgb(83, 82, 92);
  margin-left: 30px;
  border: 2px solid white;
  margin-top: 15px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}
.star {
  background-color: rgb(83, 82, 92);
  margin-left: 100px;
  border: 2px solid white;
  margin-top: 15px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}
.nati {
  background-color: rgb(83, 82, 92);
  margin-left: 30px;
  border: 2px solid white;
  float: right;
  margin-right: 30px;
  margin-top: 15px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}
.pixar {
  background-color: rgb(83, 82, 92);
  margin-left: 100px;
  border: 2px solid white;
  margin-right: 30px;
  margin-top: 15px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}
.disney {
  background-color: rgb(83, 82, 92);
  margin-left: 100px;
  border: 2px solid white;
  margin-right: 30px;
  margin-top: 15px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}
h2 {
  color: white;
  margin-left: 30px;
  text-align: justify;
  letter-spacing: 3px;
}
.vengadores {
  width: 250px;
  height: 200px;
  margin: 60px;
  border-radius: 10px;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {
    box-shadow: 2.5px 5px 7.5px rgb(1, 1, 39);
  }
}

.avatar {
  width: 250px;
  height: 200px;
  margin: 60px;
  margin-left: 125px;
  border-radius: 10px;
  animation: mymove 5s infinite;
}
.force {
  width: 250px;
  height: 200px;
  margin: 60px;
  border-radius: 10px;
  animation: mymove 5s infinite;
  float: right;
}
.solo {
  width: 250px;
  height: 200px;
  margin: 60px;
  border-radius: 10px;
  animation: mymove 5s infinite;
}
.piratas { 
  width: 250px;
  height: 200px;
  margin: 60px;
  border-radius: 10px;
  animation: mymove 5s infinite; 
  margin-left: 125px; 
}
.leon {
  float: right;
  width: 250px;
  height: 200px;
  margin: 60px;
  border-radius: 10px;
  animation: mymove 5s infinite;
}
